# Twilio Configuration
TWILIO_ACCOUNT_SID=AC9515714fed17062d979db23231cd94ec
TWILIO_AUTH_TOKEN=0e7a28cce459eb06c5fc170950ed0bff
TWILIO_PHONE_NUMBER=+919553459849

# Server Configuration
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:4200
